Repository MusicalNinjaDad/HelixFlow: changes, and which Codecov flags are due for each by the changed paths.
All: helixflow-core, helixflow-app, ui-slint, backend-surreal

codecov.yml:

coverage:
  range: 95..100
  precision: 2
  round: down
  status:
    patch:
      default:
        only_pulls: true
        threshold: 100%
        if_not_found: failure

comment:
  layout: "condensed_header, components, condensed_footer"
  behavior: default
  require_changes: false

component_management:
  individual_components:
    - component_id: core
      name: helixflow-core
      paths:
        - helixflow-core/**
    - component_id: app
      name: helixflow-app
      paths:
        - helixflow/**
    - component_id: ui-slint
      name: ui-slint
      paths:
        - ui-slint/**
    - component_id: backend-surreal
      name: backend-surreal
      paths:
        - backends-surreal/**

Remove non-blocking (#11)
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .gitignore
  Cargo.toml
  backends/helixflow-surreal/Cargo.toml
  backends/helixflow-surreal/src/lib.rs
  backends/helixflow-surreal/tests/SurrealDb_TaskCRUD.rs
  codecov.yml
  helixflow-core/Cargo.toml
  helixflow-core/src/lib.rs
  helixflow-core/src/task.rs
  helixflow/src/lib.rs
  helixflow/src/main.rs
  helixflow/tests/slint_surreal.rs
  justfile
  rust-toolchain.toml
  ui/helixflow-slint/Cargo.toml
  ui/helixflow-slint/src/lib.rs
  ui/helixflow-slint/src/task.rs
  ui/helixflow-slint/tests/backlog.rs
  ui/helixflow-slint/tests/slint_TaskCRUD.rs
Due: helixflow-core, helixflow-app

remove all wasm stuff (thanks copilot agent GPT-4.1!)
  Cargo.toml
  backends/helixflow-surreal/Cargo.toml
  backends/helixflow-surreal/src/lib.rs
  helixflow-core/Cargo.toml
  helixflow-core/src/task.rs
  helixflow/Cargo.toml
  helixflow/index.html
  helixflow/src/lib.rs
Due: helixflow-core, helixflow-app

add udeps and machete to basic tooling
  .devcontainer/Dockerfile
Due: none

remove wasm target from devcontainer
  .devcontainer/Dockerfile
Due: none

remove wasm from ci
  .github/workflows/ci.yml
Due: none

run windows tests on PR and on request
  .github/workflows/ci.yml
Due: none

Don't fail the CI when not running windows tests
  .github/workflows/ci.yml
Due: none

also upload coverage on main (so we have a baseline for PRs)
  .github/workflows/coverage.yml
Due: none

remove wasm tools
  .devcontainer/Dockerfile
Due: none

remove wasm-specific config
  backends/helixflow-surreal/.cargo/config.toml
  backends/helixflow-surreal/src/lib.rs
  helixflow/.cargo/config.toml
  helixflow/Cargo.toml
Due: helixflow-app

remove last dep
  helixflow/Cargo.toml
Due: helixflow-app

Remove WASM (#13)
  .devcontainer/Dockerfile
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  Cargo.toml
  backends/helixflow-surreal/.cargo/config.toml
  backends/helixflow-surreal/Cargo.toml
  backends/helixflow-surreal/src/lib.rs
  helixflow-core/Cargo.toml
  helixflow-core/src/task.rs
  helixflow/.cargo/config.toml
  helixflow/Cargo.toml
  helixflow/index.html
  helixflow/src/lib.rs
Due: helixflow-core, helixflow-app

default strategy is not as per docs(!)
  .github/dependabot.yml
Due: none

Fix dependabot not updating deps (#14)
  .github/dependabot.yml
Due: none

use taiki to install just
  .github/workflows/coverage.yml
Due: none

use taiki to install just (#16)
  .github/workflows/coverage.yml
Due: none

try `bump_versions` as dependabot `versioning-strategy`
  .github/dependabot.yml
Due: none

try `bump_versions` as dependabot `versioning-strategy` (#17)
  .github/dependabot.yml
Due: none

SurrealDb::new takes a File for storage
  Cargo.toml
  backends/helixflow-surreal/Cargo.toml
  backends/helixflow-surreal/src/lib.rs
  backends/helixflow-surreal/tests/SurrealDb_TaskCRUD.rs
Due: none

store File in SurrealDb
  backends/helixflow-surreal/src/lib.rs
Due: none

basic backtrace is sufficient for most cases
  .devcontainer/devcontainer.json
Due: none

fmt
  backends/helixflow-surreal/tests/SurrealDb_TaskCRUD.rs
Due: none

FIX: correctly check error details
  backends/helixflow-surreal/src/lib.rs
Due: none

pass backend function as testcase parameter
  backends/helixflow-surreal/src/lib.rs
Due: none

use rstest_reuse
  Cargo.toml
  backends/helixflow-surreal/Cargo.toml
  backends/helixflow-surreal/src/lib.rs
Due: none

tidy & complete
  backends/helixflow-surreal/src/lib.rs
Due: none

name the test cases
  backends/helixflow-surreal/src/lib.rs
Due: none

store a file PathBuf & test with NamedTempFile
  backends/helixflow-surreal/src/lib.rs
Due: none

failing test case - save on drop
  backends/helixflow-surreal/src/lib.rs
Due: none

save on drop
  backends/helixflow-surreal/src/lib.rs
Due: none

load if exists on new
  backends/helixflow-surreal/src/lib.rs
Due: none

use if && chain to reduce nesting
  backends/helixflow-surreal/src/lib.rs
Due: none

tidy imports
  backends/helixflow-surreal/src/lib.rs
Due: none

add a db to app
  helixflow/src/lib.rs
Due: helixflow-app

update remaining tests to use SurrealDb.file = None
  backends/helixflow-surreal/tests/SurrealDb_TaskCRUD.rs
  helixflow/tests/slint_surreal.rs
Due: helixflow-app

add TODO
  backends/helixflow-surreal/src/lib.rs
Due: none

ignore helixflow data export
  .gitignore
Due: none

correct docs
  backends/helixflow-surreal/src/lib.rs
Due: none

explicity remove the tempfile in test fixture
  backends/helixflow-surreal/src/lib.rs
Due: none

Save (& load) data to file (#21)
  .devcontainer/devcontainer.json
  .gitignore
  Cargo.toml
  backends/helixflow-surreal/Cargo.toml
  backends/helixflow-surreal/src/lib.rs
  backends/helixflow-surreal/tests/SurrealDb_TaskCRUD.rs
  helixflow/src/lib.rs
  helixflow/tests/slint_surreal.rs
Due: helixflow-app
