Repository MusicalNinjaDad/HelixFlow: changes, and which Codecov flags are due for each by the changed paths.
All: helixflow-core, helixflow-app, ui-slint, backend-surreal

codecov.yml:

coverage:
  range: 95..100
  precision: 2
  round: down
  status:
    patch:
      default:
        only_pulls: true
        threshold: 100%
        if_not_found: failure

comment:
  layout: "condensed_header, components, condensed_footer"
  behavior: default
  require_changes: false

component_management:
  individual_components:
    - component_id: core
      name: helixflow-core
      paths:
        - helixflow-core/**
    - component_id: app
      name: helixflow-app
      paths:
        - helixflow/**
    - component_id: ui-slint
      name: ui-slint
      paths:
        - ui-slint/**
    - component_id: backend-surreal
      name: backend-surreal
      paths:
        - backends-surreal/**

actually remove the tempfile after test execution
  Cargo.toml
  backends/helixflow-surreal/Cargo.toml
  backends/helixflow-surreal/src/lib.rs
Due: none

Move HelixFlowItem
  helixflow-core/src/lib.rs
  helixflow-core/src/task.rs
Due: helixflow-core

move HelixFlowError & Result
  backends/helixflow-surreal/src/lib.rs
  helixflow-core/src/lib.rs
  helixflow-core/src/task.rs
  ui/helixflow-slint/src/task.rs
Due: helixflow-core

Move primary traits
  backends/helixflow-surreal/src/lib.rs
  helixflow-core/src/lib.rs
  helixflow-core/src/task.rs
  helixflow/src/lib.rs
  helixflow/tests/slint_surreal.rs
  ui/helixflow-slint/src/task.rs
  ui/helixflow-slint/tests/backlog.rs
Due: helixflow-core, helixflow-app

reorder
  helixflow-core/src/task.rs
Due: helixflow-core

add HelixFlowItem bound to Left & Right in Relationship
  helixflow-core/src/lib.rs
  helixflow-core/src/task.rs
Due: helixflow-core

generic Link for Contains
  helixflow-core/src/task.rs
Due: helixflow-core

blanket impl Link & Linkable for Contains
  helixflow-core/src/task.rs
Due: helixflow-core

tidy TODOs
  helixflow-core/src/lib.rs
Due: helixflow-core

Tidy helixflow-core in preparation for non-task-related items (#22)
  Cargo.toml
  backends/helixflow-surreal/Cargo.toml
  backends/helixflow-surreal/src/lib.rs
  helixflow-core/src/lib.rs
  helixflow-core/src/task.rs
  helixflow/src/lib.rs
  helixflow/tests/slint_surreal.rs
  ui/helixflow-slint/src/task.rs
  ui/helixflow-slint/tests/backlog.rs
Due: helixflow-core, helixflow-app

failing test case
  helixflow/tests/slint_surreal.rs
Due: helixflow-app

initial State implementation
  helixflow-core/src/lib.rs
  helixflow-core/src/state.rs
  helixflow/tests/slint_surreal.rs
Due: helixflow-core, helixflow-app

State uses Uuid as id for HelixFlowItem compatibilty
  helixflow-core/src/state.rs
  helixflow/tests/slint_surreal.rs
Due: helixflow-core, helixflow-app

State doesn't need to be marked as non-exhaustive
  helixflow-core/src/state.rs
Due: helixflow-core

empty impl Store<State> - compiles
  backends/helixflow-surreal/src/lib.rs
  helixflow-core/src/state.rs
  helixflow/tests/slint_surreal.rs
Due: helixflow-core, helixflow-app

create State in SurrealDb
  backends/helixflow-surreal/src/lib.rs
  helixflow-core/src/state.rs
Due: helixflow-core

get State from SurrealDb
  backends/helixflow-surreal/src/lib.rs
Due: none

be less generic in Store create
  backends/helixflow-surreal/src/lib.rs
Due: none

persist & load state for app
  helixflow/Cargo.toml
  helixflow/src/lib.rs
Due: helixflow-app

show patch coverage details in PR comment
  codecov.yml
Due: none

Take Uuid by value in State::new instead of reference
  helixflow-core/src/state.rs
Due: helixflow-core

Revert "Take Uuid by value in State::new instead of reference "
  helixflow-core/src/state.rs
Due: helixflow-core

Persist UI state (#23)
  backends/helixflow-surreal/src/lib.rs
  codecov.yml
  helixflow-core/src/lib.rs
  helixflow-core/src/state.rs
  helixflow/Cargo.toml
  helixflow/src/lib.rs
  helixflow/tests/slint_surreal.rs
Due: helixflow-core, helixflow-app

use dependabot to update rust toolchain
  .github/dependabot.yml
Due: none

remove bump_versions to stop dependabot erroring
  .github/dependabot.yml
Due: none

use dependabot to update rust toolchain (#31)
  .github/dependabot.yml
Due: none

use published slint v1.14.1
  Cargo.toml
Due: none

fix #[warn(stable_features)] warnings
  backends/helixflow-surreal/src/lib.rs
  backends/helixflow-surreal/tests/SurrealDb_TaskCRUD.rs
  helixflow/src/lib.rs
  helixflow/tests/slint_surreal.rs
Due: helixflow-app

Enable auto-merge for Dependabot PRs
  .github/workflows/dependabot.yml
Due: none

Enable auto-merge for Dependabot PRs (#33)
  .github/workflows/dependabot.yml
Due: none
